
<!DOCTYPE HTML>
<html>
<head>
	<meta name="google-site-verification" content="f1OtvP7JCHm6M9Ca7vMcFg3q-1NEOvDMcSKfKlVW_pA" />
	<script data-cfasync="false" type="text/javascript" src="//use.typekit.net/axj3cfp.js"></script>
	<script data-cfasync="false" type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta charset="utf-8">
	<title>Blog Archives  | macjasp</title>

<meta name="author" content="macjasp"> 

<meta name="description" content="Personal blog of an IT Consultant & iOS/Mac Developer from North East of England. Home to shrinkURL & Roasting Pad for iOS and the Posterous Safari &hellip;"> <meta name="keywords" content="blog, tech, ios, mac, apple, shrinkurl, roasting pad, posterous safari extension, linux, raspberry pi, photography, code, development">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="/atom.xml" rel="alternate" title="macjasp" type="application/atom+xml">
	<link rel="canonical" href="">
	<link href="/favicon.png" rel="shortcut icon">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>

<script language="Javascript" type="text/javascript">
$(document).ready(
  function() {
    (function($) {
      $(".fancybox[data-content-id]").each(function() {
        this.href = $(this).data('content-id');
      });
      $(".fancybox").fancybox({
        beforeLoad: function() {
          var el, 
              id = $(this.element).data('title-id');

          if (id) {
            el = $('#' + id);

            if (el.length) {
              this.title = el.html();
            }
          }
          if ($(this).data('content')) {
            this.content = $(this).data('content');
          }
        },
        helpers: {
          title: {
            type: 'inside'
          }
        }
      });
    })(jQuery);
  }
);
</script>
	
</head>


<body>
	<header id="header" class="inner"><h1><a href="/">macjasp</a></h1>
<h4>the home of</h4>
<nav id="main-nav"><ul>
	<li><a href="/">Blog</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/portfolio">Portfolio</a></li>
	<li><a href="/archives">Archive</a></li>
</ul>
</nav>
<nav id="mobile-nav">
	<div class="alignleft menu">
		<a class="button">Menu</a>
		<div class="container"><ul>
	<li><a href="/">Blog</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/portfolio">Portfolio</a></li>
	<li><a href="/archives">Archive</a></li>
</ul>
</div>
	</div>
	<div class="alignright search">
		<a class="button"></a>
		<div class="container">
			<form action="http://google.com/search" method="get">
				<input type="text" name="q" results="0">
				<input type="hidden" name="q" value="site:macjasp.github.io">
			</form>
		</div>
	</div>
</nav>


</header>

	<div id="content" class="inner">
	


	
	
	<section class="archives"><h1 class="year">2013</h1>

<article>
	<h2 class="title"><a href="/super-hot/">Super Hot</a></h2>
	<div class="meta">
		<span class="date">Aug 28</span>
		<span class="tags">


	<a class='category' href='/blog/categories/apps/'>apps</a>, <a class='category' href='/blog/categories/ios/'>ios</a>, <a class='category' href='/blog/categories/photography/'>photography</a>


</span>
	    
	</div>
</article>

	


<article>
	<h2 class="title"><a href="/octopress-on-a-raspberry-pi/">Octopress on a Raspberry Pi</a></h2>
	<div class="meta">
		<span class="date">Jul 28</span>
		<span class="tags">


	<a class='category' href='/blog/categories/octopress/'>octopress</a>, <a class='category' href='/blog/categories/raspberry-pi/'>raspberry pi</a>


</span>
	    
	</div>
</article>

	


<article>
	<h2 class="title"><a href="/cleanpress-octopress-theme/">CleanPress Octopress Theme</a></h2>
	<div class="meta">
		<span class="date">May 17</span>
		<span class="tags">


	<a class='category' href='/blog/categories/development/'>development</a>, <a class='category' href='/blog/categories/octopress/'>octopress</a>, <a class='category' href='/blog/categories/theme/'>theme</a>


</span>
	    
	</div>
</article>

	


<article>
	<h2 class="title"><a href="/lego-stormtrooper/">Stormtrooper</a></h2>
	<div class="meta">
		<span class="date">May 12</span>
		<span class="tags">


	<a class='category' href='/blog/categories/lego/'>lego</a>, <a class='category' href='/blog/categories/photography/'>photography</a>, <a class='category' href='/blog/categories/star-wars/'>star wars</a>


</span>
	    
	</div>
</article>

	


<article>
	<h2 class="title"><a href="/cloudflare-dynamicdns-updater-raspberry-pi/">Dynamic DNS Updater for CloudFlare</a></h2>
	<div class="meta">
		<span class="date">Mar 24</span>
		<span class="tags">


	<a class='category' href='/blog/categories/cloudflare/'>cloudflare</a>, <a class='category' href='/blog/categories/development/'>development</a>, <a class='category' href='/blog/categories/dyndns/'>dyndns</a>


</span>
	    
	</div>
</article>

	


<article>
	<h2 class="title"><a href="/an-octopress-flickr-set-plugin/">An Octopress Flickr Set Plugin</a></h2>
	<div class="meta">
		<span class="date">Feb 27</span>
		<span class="tags">


	<a class='category' href='/blog/categories/development/'>development</a>, <a class='category' href='/blog/categories/photography/'>photography</a>


</span>
	    
	</div>
</article>
</div>
	<footer id="footer" class="inner"><a href="http://twitter.com/macjasp">Twitter</a> •
<a href="https://github.com/macjasp">Github</a> • 
<a href="http://www.flickr.com/photos/-macjasp/">Flickr</a>  • 
<a href="http://instagram.com/macjasp">Instagram</a>
<br>
Copyright &copy; 2013

    macjasp

<br>
Powered by Octopress.
</footer>
	<script src="/javascripts/slash.js"></script>
<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
	$('.fancybox').fancybox();
})(jQuery);
</script> <!-- Delete or comment this line to disable Fancybox -->


<script type="text/javascript">
      var disqus_shortname = 'macjasp';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>



	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37790901-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>



</body>
</html>
