
<!DOCTYPE HTML>
<html>
  {% include head.html %}


<body>

  {% include header.html %}

  <div id="content" class="inner"><article class="post">
    <h2 class="title">{{ page.title }}</h2>
    <div class="entry-content">
      {{ content }}
    </div>


    <div class="meta">
      <div class="date">
        <time datetime="{{ page.date }}" pubdate data-updated="true">{{ page.date | date_to_long_string}}</time></div>
      <div class="tags">
          {% for tag in page.tags %}
            <a class='category' href='#'>{{ tag }}</a>
          {% endfor %}


      </div>

    </div></article>

    {% include sharing.html %}



    <section id="comment">
    <h2 class="title">Comments</h2>
    {% include disqus.html %}
    </section>
  </div>
  
  {% include footer.html %}

  
  {% include after_footer.html %}
 
  {% include google_analytics %}
</body>
</html>
